<style>
          /* styles.css */
.footer {
    background-color: #fff;
    color: #333;
    padding: 20px 0;
}

.social-icons {
    list-style: none;
    padding: 0;
    
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons a {
    background-color: #fff;
    color: #333;
    font-size: 25px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #007bff; /* Change color on hover (optional) */
}
.social-icons .instagram:hover {
    color: #e7469f; /* Change color on hover (optional) */
}
.social-icons .github:hover {
    color: #b3abab; /* Change color on hover (optional) */
}
.social-icons .youtube:hover {
    color: #ff0000; /* Change color on hover (optional) */
}
.social-icons .whatsapp:hover {
    color: #26eb67; /* Change color on hover (optional) */
}

</style>
        <footer class="footer shadow-sm p-3  bg-body-tertiary rounded">
          <div class="container">
              <div class="row p-4">
                  
              
                  <div class="col-lg-6">
                    <h5>About</h5>
                    <p>📝 Welcome to Creative Atul - Your Source for Programming Insights, Breaking News, and Thoughtful Blog Posts. We're dedicated to providing you with the latest updates in the tech world, informative programming guides, and engaging blog content. Whether you're a seasoned developer, a news enthusiast, or simply looking for insightful reads, you'll find something valuable here. Stay informed, learn, and be inspired through our diverse range of articles.</p>      
                    <!--<p>💼 In the project selling section, you'll find [brief description of your projects/services]. We're committed to delivering [mention the quality or uniqueness of your projects].</p>-->      
                     <p> Thanks for visiting, and we look forward to connecting with you!</p>
                    </p>
                      <ul class="social-icons">
                          <li><a class="facebook" href="https://www.facebook.com/profile.php?id=100072061321141"><i class="fab fa-facebook"></i></a></li>
                          <li><a class="youtube" href="https://www.youtube.com/channel/UCcSn62-br97I91aWmf1llug"><i class="fab fa-youtube"></i></a></li>
                          <li><a class="whatsapp" href="https://whatsapp.com/channel/0029Va8UdBm2phHPCsbeoa0p"><i class="fab fa-whatsapp"></i></a></li>
                          <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                          <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                          
                          
                          <!--<li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                          <li><a class="github" href="#"><i class="fab fa-github"></i></a></li>-->
                          
                      </ul>
                  </div>
                  <div class="col-lg-6 d-flex px-5">
                    
                    <ul class="list-group">
                        <h5>Menu</h5>
                            <li style="list-style: none; padding-left: 5px;"><a style="color: #070707; text-decoration: none;" href="/">Home</a></li>
                   
                            <li style="list-style: none; padding: 5px;"><a style="color: #070707; text-decoration: none;" href="#blogs">Blogs</a></li>
    
                            <li style="list-style: none; padding-left: 5px;"><a style="color: #070707; text-decoration: none;" href="/contact">Contact</a></li>
    
                            <li style="list-style: none; padding: 5px;"><a style="color: #070707; text-decoration: none;" href="/about">About</a></li>
                    </ul>

                    <ul class="list-group ms-5 ps-5">
                        <h5>Categories</h5>
                            <li style="list-style: none; padding-left: 5px;"><a style="color: #070707; text-decoration: none;" href="/category/programminglanguages">Programming Languages</a></li>
                   
                            <li style="list-style: none; padding: 5px;"><a style="color: #070707; text-decoration: none;" href="/category/databases">Databases</a></li>
    
                            <li style="list-style: none; padding-left: 5px;"><a style="color: #070707; text-decoration: none;" href="/category/tools">Tools</a></li>
    
                            <li style="list-style: none; padding: 5px;"><a style="color: #070707; text-decoration: none;" href="/category/news">Latest</a></li>
                    </ul>
                  </div> 
                  
                  <div class=" text-center">
                    © 2023 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>.
                    <a class="grey-text text-lighten-4 right ms-4" href="/admin">Admin</a>
                  </div>
              </div>
          </div>
      </footer>