<!-- Dropdown Structure -->
<!--<ul id="dropdown1" class="dropdown-content">


    {% for cat in cats %}

    <li><a href="/category/{{cat.url}}">{{cat.title}}</a></li>

    {% endfor %}

</ul>
<nav class="bg-primary">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/home" class="brand-logo">IBLOGS</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/admin">ADMIN</a></li>
               
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">CATEGORY<i
                        class="material-icons right">arrow_drop_down</i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>-->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand me-6 ms-5" href="#">
            <img src="/../static/img/at.png" alt="Logo" width="36" height="30" class="d-inline-block align-text-center mb-1 ms-5  ">
            Creative Atul
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link ms-3" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item"><a class="nav-link " href="#blogs">Blogs</a></li>
          <!--<li class="nav-item"><a href="/projects" class="nav-link">Projects</a></li>-->
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
            </a>
            <ul class="dropdown-menu">
                {% for cat in cats %}
              <li class="" > 
                <a class="dropdown-item " href="/category/{{cat.url}}">{{cat.title}}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        </ul>
        <form class="d-flex me-6 mx-5" role="search" method="get" action="/search">
          <input class="form-control me-2 px-3 p-1" type="search" name="query" id="query" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark p-1" type="submit">Search</button>
        </form>
        {% if user.is_authenticated %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Welcome {{request.user}}
            </a>
            <ul class="dropdown-menu">
              <li> 
                <a class="dropdown-item " href="/logout">logout</a></li>
            </ul>
          </li>
        </ul>
         
        {%else%}
            <a href="/login " class="btn btn-outline-dark me-5 ms-5 p-1">Sign In</a></li>
        {%endif%}
      </div>
    </div>
  </nav>